h1{
    background-color: beige;
        color: aquamarine;
    text-decoration-line: underline;
    text-decoration-color: darkcyan
        
}

h2{ background-color: orangered;
        color: yellowgreen;
    text-decoration-line: underline;
    text-decoration-color: darkcyan
        
    
}